/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

#include <behaviors/anti_idle_mode.dtsi>
#include <dt-bindings/anti_idle_mode.h>

&led_strip {
    chain-length = <10>;
};

/ {
    anti_idle {
        compatible = "zmk,anti-idle-generic";
        interval-ms = <30000>;
        bindings = <&kp F1 &kp F1>;
        tap_ms = <40>;
        wait_ms = <200>;
    };
};

/ {
    behaviors {
        media_c: tap_dance_media {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp C_PP>, <&kp C_NEXT>;
            tapping-term-ms = <300>;
        };

        func_c: tap_dance_func {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp C_AL_CALCULATOR>, <&login>;
            tapping-term-ms = <300>;
        };

        func_v: tap_dance_vol {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&kp C_MUTE>, <&vol_up>;
            tapping-term-ms = <500>;
        };
    };
};

/ {
    macros {
        login: zed_em_kay {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <300>;
            bindings
                = <&macro_tap &kp RET>
                , <&macro_wait_time 50>
                , <&macro_tap &kp N2 &kp N0 &kp N2 &kp N1 &kp RET>
                ;
        };

        vol_up: volup {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            bindings
                = <&macro_tap &kp C_VOLUME_UP &kp C_VOLUME_UP &kp C_VOLUME_UP &kp C_VOLUME_UP &kp C_VOLUME_UP &kp C_VOLUME_UP &kp C_VOLUME_UP &kp C_VOLUME_UP &kp C_VOLUME_UP &kp C_VOLUME_UP &kp C_VOLUME_UP &kp C_VOLUME_UP &kp C_VOLUME_UP &kp C_VOLUME_UP &kp C_VOLUME_UP &kp C_VOLUME_UP &kp C_VOLUME_UP &kp C_VOLUME_UP &kp C_VOLUME_UP &kp C_VOLUME_UP &kp C_VOLUME_UP &kp C_VOLUME_UP &kp C_VOLUME_UP &kp C_VOLUME_UP &kp C_VOLUME_UP &kp C_VOLUME_UP &kp C_VOLUME_UP &kp C_VOLUME_UP &kp C_VOLUME_UP &kp C_VOLUME_UP &kp C_VOLUME_UP &kp C_VOLUME_UP &kp C_VOLUME_UP &kp C_VOLUME_UP &kp C_VOLUME_UP &kp C_VOLUME_UP>
                ;
        };
    };
};


/ {

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Default";

            

            bindings = <
            &kp ESC   &kp N1    &kp N2    &kp N3    &kp N4    &kp N5    &kp N6    &kp N7    &kp N8  &kp N9    &kp N0    &kp MINUS &kp EQUAL &kp BSPC &func_c
&func_v     &kp TAB   &kp Q     &kp W     &kp E     &kp R     &kp T     &kp Y     &kp U     &kp I   &kp O     &kp P     &kp LBKT  &kp RBKT  &kp RET  &kp DEL
&media_c    &kp CLCK  &kp A     &kp S     &kp D     &kp F     &kp G     &kp H     &kp J     &kp K   &kp L     &kp SEMI  &kp SQT             &kp BSLH &kp PG_UP
&trans      &kp LSHFT &kp NUBS  &kp Z     &kp X     &kp C     &kp V     &kp B     &kp N     &kp M   &kp COMMA &kp DOT   &kp FSLH  &kp RSHFT &kp UP   &kp LANGUAGE_4
&trans      &kp LCTRL &kp LGUI  &kp LALT                      &kp SPACE                     &mo 1   &kp RALT  &kp RCTRL &kp LEFT            &kp DOWN &kp RIGHT
            >;
        };
        function_layer {
            display-name = "Function";

    
            bindings = <
            &kp TILDE &kp F1    &kp F2    &kp F3    &kp F4    &kp F5    &kp F6    &kp F7    &kp F8  &kp F9    &kp F10   &kp F11   &kp F12   &trans   &login
&kp C_MUTE  &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans  &trans    &trans    &trans    &trans    &trans   &bootloader
&aim AIM_TOG  &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans  &trans    &trans    &trans              &trans   &rgb_ug RGB_COLOR_HSB(304,83,100)
&trans       &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans  &trans    &trans    &trans    &trans    &trans   &rgb_ug RGB_TOG
&trans       &trans    &trans    &trans                        &trans                        &trans  &trans    &trans    &kp C_PREV          &kp C_PP &kp C_NEXT
            >;
        };
    };
};
